div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Он-лайн приемная
    p.lead Kick-start your next web app with Angular Fullstack

.container
  .row
    .col-lg-12
      h1.page-header Appeals:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='appeal in awesomeAppeals')
        li(ng-class='{bg_executed: appeal.is_executed}')
          a(href='#', ng-click='setSelectedAppeal(appeal);', tooltip='{{appeal.info}}')
            | {{appeal.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.appeal-form(ng-show='!isMinisterApp()')
    label Новое обращение:
    p.input-group
      .radio
        input(type='radio', id='name_call', value='Звонок', ng-model='newAppeal.name')
        label(for='name_call') Звонок
      .radio
        input(type='radio', id='name_visitor',value='Посетитель', ng-model='newAppeal.name')
        label(for='name_visitor') Посетитель
      input.form-control(type='text', placeholder='Дополнительно', ng-model='newAppeal.message')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addAppeal()') Добавить

  form.appeal-form(ng-show='isMinisterApp()')
    label Decision on appeal {{selectedAppeal.name}}:
    p.input-group
      input.form-control(type='text', placeholder='name', ng-model='selectedAppeal.name')
      input.form-control(type='text', placeholder='decision', ng-model='selectedAppeal.decision')
      input.form-control(type='text', placeholder='comment', ng-model='selectedAppeal.comment')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='updateAppeal()') Принять решение

  form.appeal-form(ng-show='selectedAppeal.name && !isMinisterApp()')
    label Исполнение решения по обращению {{selectedAppeal.name}} ({{selectedAppeal.message}}):
    p.input-group
      .checkbox
        input(type='checkbox', id='selected_is_executed', placeholder='Is executed?', ng-model='selectedAppeal.is_executed', ng-checked='')
        label(for='selected_is_executed') Исполнить
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='updateAppeal()') Исполнить обращение

footer.footer
  .container
    p
      | | Он-лайн приемная, кабинет секретаря. Prototype by
      = ' | '
      a(href='https://twitter.com/zeewolf_v') @zeewolf_v
